@model StatusModel<Ledger>

@{
    ViewData["Title"] = "Ledger";
}


@if(Model.Errors == null || Model.Errors.Count == 0)
{
  <div class="alert alert-success" role="alert">
    @Model.Model.Name is succesfully created.
  </div>
} else
{
  <div class="alert alert-danger" role="alert">
    Following errors are noted during creation,
    <ul>
      @foreach (var errorText in Model.Errors)
      {
        <li>@errorText</li>
      }
    </ul>
  </div>
}