@model StatusModel<Unit>

@{
    ViewData["Title"] = "Unit";
}


@if(Model.Errors == null || Model.Errors.Count == 0)
{
  <div class="alert alert-success" role="alert">
    @Model.Model.Name is succesfully created
      @if(Model.Model.Owner != null)
        {
          <span>With owner @Model.Model.Owner.Name</span>
        }
  </div>
} else
{
  <div class="alert alert-danger" role="alert">
    Following errors are noted during creation,
    <ul>
      @foreach (var errorText in Model.Errors)
      {
        <li>@errorText</li>
      }
    </ul>
  </div>
}